* {
  font-family: "Lato", sans-serif;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
.hidden {
  opacity: 0;
  filter: blur(5px);
  transform: translateX(-100%);
  transition: all 1s;
}
@media (prefers-reduced-motion) {
  .hidden {
    transition: none;
  }
}

.show {
  opacity: 1;
  filter: blur(0);
  transform: translateX(0);
}
h1,
h2,
h3,
h4,
h5,
h6,
span {
  color: #242424;
  text-align: center;
  line-height: 1.25;
}
h1 {
  font-size: 36px;
}
p {
  line-height: 1.5;
  font-size: 16px;
}
a {
  text-decoration: none;
  position: relative;
  transition: opacity 300ms ease;
  transform: scale(1.5);
}
a:hover i {
  opacity: 0.5;
  transform: scale(1.2);
}
.link__hover-effect:after {
  content: "";
  position: absolute;
  background-color: black;
  height: 3px;
  width: 0;
  bottom: -3px;
  right: 0;
  transition: 300ms ease;
}
.link__hover-effect--black:after {
  background-color: #000;
}
.link__hover-effect-white:after {
  background-color: #fff;
}
.link__hover-effect:hover:after {
  width: 100%;
  left: 0;
}
li {
  list-style-type: none;
}
.flex {
  display: flex;
}
.flex-1 {
  flex: 1;
}
.container {
  padding: 50px 0;
  overflow: hidden;
}
.row {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  padding: 0;
}
.text--purple {
  color: #6030b1;
}
section {
  display: grid;
}
section:nth-child(even) {
  background-color: #eae8e8;
}
.section__title {
  margin-bottom: 20px;
}
/*

Navigation Bar

*/
nav {
  height: 100px;
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 12px;
}
.nav__link--list {
  display: flex;
}
.nav__link--anchor {
  margin: 0 12px;
  color: #242424;
  font-weight: 700;
}
.nav__link--anchor-primary {
  background-color: #6030b1;
  padding: 8px 20px;
  border-radius: 50px;
  color: white;
  transition: all 300ms ease;
}
.nav__link--anchor-primary:hover {
  background-color: #5d3eff;
}
.personal__logo {
  font-size: 24px;
  color: #6030b1;
  margin: 0 12px;
  font-weight: bold;
}

#about-me {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
.about-me__info {
  display: flex;
  flex-direction: column;
}
.about-me__info--container {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 600px;
  margin: 0 auto;
  text-align: center;
}
.about-me__picture--mask {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  overflow: hidden;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  margin-bottom: 28px;
  animation: animate-profile-picture 800ms ease 200ms backwards;
}
@keyframes animate-profile-picture {
  0% {
    transform: scale(0);
  }
  80% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
.about-me__picture {
  width: 100%;
  /* Improving my picture */
  transform: scale(1.25);
  padding-top: 12px;
}
.about-me__info--title {
  margin-bottom: 16px;
  animation: fade-up 650ms ease 400ms backwards;
}
.about-me__info--para {
  font-size: 20px;
  margin-bottom: 28px;
  animation: fade-up 650ms ease 600ms backwards;
}
.about-me__link {
  font-size: 20px;
  color: black;
  padding: 0 16px;
  animation: fade-up 650ms ease 800ms backwards;
}
.about-me__links {
  animation: fade-up 650ms ease 1000ms backwards;
}
@keyframes fade-up {
  0% {
    opacity: 0;
    transform: translateY(40px);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}
.about-me__img--container {
  flex: 1;
  display: flex;
  align-items: center;
  padding-top: 32px;
}
.about-me__img {
  width: 100%;
  animation: fade-in 1200ms ease 1400ms backwards;
}
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.wave {
  display: inline-block;
  animation: animate-wave 500ms infinite ease-in-out;
}
@keyframes animate-wave {
  0% {
    transform: rotate(0);
  }
  50% {
    transform: rotate(30deg);
  }
  100% {
    transform: rotate(0);
  }
}
/* TECH - STACK */

.language:nth-child(2) {
  transition-delay: 200ms;
}
.language:nth-child(3) {
  transition-delay: 400ms;
}
.language:nth-child(4) {
  transition-delay: 600ms;
}
.language:nth-child(6) {
  transition-delay: 200ms;
}
.language:nth-child(7) {
  transition-delay: 400ms;
}
.language:nth-child(8) {
  transition-delay: 600ms;
}

.language__img {
  width: 100%;
  max-width: 100px;
  transition: all 300ms;
}
.language:hover .language__img {
  filter: 80%;
  opacity: 0.86;
  transform: scale(0.9);
}
.language {
  width: 25%;
  display: flex;
  justify-content: center;
  position: relative;
}
.language__img--wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 25px 16px;
}
.language__list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.language__name {
  position: absolute;
  bottom: 0;
  transform: scale(0);
  transition: all 300ms;
  font-size: 20px;
  opacity: 0;
}
.language:hover .language__name {
  transform: scale(1);
  opacity: 1;
}
/* PROJECT -- STACK */
.projects {
  display: none;
  overflow: hidden;
}

.project__container {
  
  margin-top: 400px;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 1000px;
  height: 600px;
  background: #f5f5f5;
  box-shadow: 0 30px 50px #dbdbdb;
}
.project__container .slide .item {
  overflow: hidden;
  width: 200px;
  height: 300px;
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  border-radius: 20px;
  box-shadow: 0 30px 50px #505050;
  background-position: 50% 50%;
  background-size: cover;
  display: inline-block;
  transition: 0.5s;
}

.slide .item:nth-child(1),
.slide .item:nth-child(2) {
  top: 0;
  left: 0;
  transform: translate(0,0);
  width: 100%;
  height: 100%;
}

.slide .item:nth-child(3) {
  left: 70%;
}
.slide .item:nth-child(4) {
  left: calc(70% + 220px);
}
.slide .item:nth-child(5) {
  left: calc(70% + 440px);
}
/* here n + 0, 1, 2, 3 ...*/
.slide .item:nth-child(n + 6){
  left: calc(70% + 660px);
  opacity: 0;
}

.item .content {
  position: absolute;
  top: 50%;
  left: 100px;
  width: 300px;
  text-align: left;
  color: #eee;
  transform: translate(0,-50%);
  
  display: none;
}

.slide .item:nth-child(2) .content{
  display: block;
}
.content .name{
  font-size: 40px;
  text-transform: uppercase;
  font-weight: bold;
  opacity: 0;
  animation: animate-slide 1s ease-in-out 1 forwards;
}
.content .des{
  margin-top: 10px;
  margin-bottom: 20px;
  opacity: 0;
  animation: animate-slide 1s ease-in-out 0.3s 1 forwards;
}
.content button{
  padding: 10px 20px;
  border-radius: 50px;
  border: none;
  cursor: pointer;
  opacity: 0;
  animation: animate-slide 1s ease-in-out 0.6s 1 forwards;
}

@keyframes animate-slide {
  from{
      opacity: 0;
      transform: translate(0, 100px);
      filter: blur(33px);
  }

  to{
      opacity: 1;
      transform: translate(0);
      filter: blur(0);
  }
}

.button{
  width: 100%;
  text-align: center;
  position: absolute;
  bottom: 20px;
  
}
.button button {
  width: 40px;
  height: 35px;
  border-radius: 50px;
  border: none;
  cursor: pointer;
  margin: 0 5px;
  border: 1px solid #000;
  transition: 0.3s;
}
.button button:hover {
  background: #ababab;
  color: #fff;
}

/* FOOTER */

footer {
  background-color: black;
}
.footer__social--link {
  margin-bottom: 20px;
}
.footer__social--list {
  margin-bottom: 15px;
  display: flex;
  justify-content: space-between;
  flex-direction: row;

  width: 100%;
  max-width: 500px;
}
.footer__row {
  padding: 8% 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.footer__logo-img--mask {
  margin-top: 5px;
  width: 60px;
  height: 60px;
  overflow: hidden;
  border-radius: 50%;
  animation: animate-profile-picture 800ms ease 200ms backwards;
}

.footer__picture {
  width: 100%;
  transform: scale(1.2);
  padding-top: 5px;
}
.footer__social--link,
.footer__copyright,
.footer__logo--popper {
  color: #fff;
}
.footer__logo--popper {
  position: absolute;
  padding-right: 5px;
  right: 0;
  top: 15px;
  font-weight: 700;
  opacity: 0;
  transition: all 300ms ease;
}

.footer__anchor {
  position: relative;
  margin-bottom: 60px;
}
.footer__anchor:hover .footer__logo--popper {
  transform: translateY(50px);
  opacity: 1;
}
/* SMALL PHONES, TABLETS, LARGE SMARTPHONES */
@media (max-width: 768px) {
  nav {
    height: 68px;
    flex-direction: column;
    padding-top: 12px;
  }
  nav li {
    display: none;
  }
  h1 {
    font-size: 28px;
  }
  .about-me__info--para {
    font-size: 18px;
  }
  .language {
    width: calc(100 / 3);
  }
  .project__description--title {
    font-size: 20px;
  }
  .project__description--para {
    font-size: 12px;
  }
  .footer__social--list {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
}